/* Подключение шрифта */
@font-face {
    font-family: 'Pervye_Extended-Bold';
    src: url('fonts/Pervye_Extended-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

/* Общие стили */
body {
    margin: 0;
    padding: 0;
    font-family: 'Pervye_Extended-Bold', sans-serif;
    color: #333;
    background: #f7f7f7;
}

/* Контейнер */
.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Шапка */
header {
    background: #3366CC;
    color: white;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px;
}
.logo p {
    margin-left: 70px;
	font-size: 30 px
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: white;
    font-size: 18px;
}

nav ul li a:hover {
    text-decoration: underline;
}

/* Главный блок */
.hero {
    height: 80vh;
    background: url('image/back.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero .container {
    background: rgba(0, 0, 0, 0.6);
    padding: 40px;
    border-radius: 10px;
}

.hero h1 {
    font-size: 50px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 22px;
    margin-bottom: 20px;
}

/* Кнопка */
.btn {
    display: inline-block;
    padding: 15px 30px;
    background: #ffcc00;
    color: black;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background: #e6b800;
}

/* О нас */
.about {
    padding: 50px 0;
    text-align: center;
    background: #f4f4f4;
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: